<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    style
     include ./asserts/css/bootstrap.min.css
     include ../static/styles.css
    <title>Website</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-success">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Notespedia</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/about">History</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/takebook">take book</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="contact.html" href="/contact">Contact</a>
                    </li>
                </ul>
                <div class="nav-item dropdown navigationdropdown">

                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="far fa-user-circle"></i> Username
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#">profile</a></li>
                        <li><a class="dropdown-item" href="#">setting</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <main class="mainsection bgimage section1">
        <div class=".container1">
            <h3><span>Welcome</span> to our library</h3>
            <h4>Click on <span>take book</span> and take your book</h4>
            //- <h4>And recollect at any time</h4>
            //- <div class="buttons">
            //-     <button type="button" class="btn btn-outline-success" id="login-button">Login</button>
            //-     <button type="button" class="btn btn-outline-success #{title}" id="signup-button">SignUp</button>
            //- </div>
        </div>
    </main>

    //- <div class="formsection modal-bg">
    //-     <form class="row g-3 form modal">
    //-         <div class="formheading">
    //-             <h1>Log in</h1>
    //-         </div>
    //-         <div class="col-md-12 input">
    //-             <label for="inputEmail4" class="form-label">Username</label>
    //-             <input type="text" class="form-control" id="inputEmail4" name="name" required>
    //-         </div>
    //-         <div class="col-md-12 input">
    //-             <label for="inputEmail4" class="form-label">Email</label>
    //-             <input type="email" class="form-control" id="inputEmail4" name="email" required>
    //-             <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
    //-         </div>
    //-         <div class="col-md-12 input">
    //-             <label for="inputEmail4" class="form-label">Password</label>
    //-             <input type="Password" class="form-control" id="inputEmail4" name="password" required>
    //-         </div>
    //-         <span class="modal-close">X</span>
    //-         <div class="col-12">
    //-             <button type="submit" class="btn btn-primary" id="login-button">Sign in</button>
    //-         </div>
    //-     </form>
    //- </div>
    //- <div class="formsection signmodal-bg">
    //-     <form action="/" method="POST" class="row g-3 form signmodal">
    //-         <div class="formheading">
    //-             <h1>Sign Up</h1>
    //-         </div>
    //-         <div class="col-md-12 input">
    //-             <label for="inputEmail4" class="form-label">Name</label>
    //-             <input type="text" class="form-control" id="inputEmail4" name="name" required>
    //-         </div>
    //-         <div class="col-md-12 input">
    //-             <label for="inputEmail4" class="form-label">Student Id</label>
    //-             <input type="text" class="form-control" id="inputEmail4" name="id" required>
    //-         </div>
    //-         <div class="col-md-12 input">
    //-             <label for="inputEmail4" class="form-label">Password</label>
    //-             <input type="password" class="form-control" id="inputEmail4" name="password" required>
    //-         </div>
    //-         <div id="emailHelp" class="form-text">We'll never share your details with anyone else.</div>
    //-         <span class="signmodal-close">X</span>
    //-         <div class="col-12">
    //-             <button type="submit" class="btn btn-primary" id="signp-button">Sign Up</button>
    //-         </div>
    //-     </form>
    //- </div>
    <footer class="text-gray-600 body-font">
        <div class="bg-black-100">
            <div class="container mx-auto py-4 px-5 flex flex-wrap flex-col sm:flex-row">
                <p class="text-gray-500 text-sm text-center sm:text-left">© 2020 Notespedia —
                    <a href="https://twitter.com/knyttneve" rel="noopener noreferrer" class="text-gray-600 ml-1" target="_blank">@Notespedia</a>
                </p>
                <span class="inline-flex sm:ml-auto sm:mt-0 mt-2 justify-center sm:justify-start">
                    <a class="text-gray-500">
                        <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                            <path d="M18 2h-3a5 5 0 00-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 011-1h3z"></path>
                        </svg>
                    </a>
                    <a class="ml-3 text-gray-500">
                        <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                            <path d="M23 3a10.9 10.9 0 01-3.14 1.53 4.48 4.48 0 00-7.86 3v1A10.66 10.66 0 013 4s-4 9 5 13a11.64 11.64 0 01-7 2c9 5 20 0 20-11.5a4.5 4.5 0 00-.08-.83A7.72 7.72 0 0023 3z"></path>
                        </svg>
                    </a>
                    <a class="ml-3 text-gray-500">
                        <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                            <rect width="20" height="20" x="2" y="2" rx="5" ry="5"></rect>
                            <path d="M16 11.37A4 4 0 1112.63 8 4 4 0 0116 11.37zm1.5-4.87h.01"></path>
                        </svg>
                    </a>
                    <a class="ml-3 text-gray-500">
                        <svg fill="currentColor" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="0" class="w-5 h-5" viewBox="0 0 24 24">
                            <path stroke="none" d="M16 8a6 6 0 016 6v7h-4v-7a2 2 0 00-2-2 2 2 0 00-2 2v7h-4v-7a6 6 0 016-6zM2 9h4v12H2z"></path>
                            <circle cx="4" cy="4" r="2" stroke="none"></circle>
                        </svg>
                    </a>
                </span>
            </div>
        </div>
    </footer>
    script
     include ./asserts/js/jquery.min.js
     include ./asserts/js/popper.min.js
     include ./asserts/js/tooltip.min.js
     include ./asserts/js/bootstrap.min.js
     include ../static/index.js
</body>

</html>